* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;

  /* float: left; */
  padding-left: 50px;
  color: #fff;
  padding-top: 20px;
  background-color: #3c3a39;
  width: 100%;
  height: 40px;
}

a:link {
  color: #fff;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #fff;
  text-decoration: none;
}

.check {
  display: flex;
  z-index: 2;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  right: 30px;
  cursor: pointer;
  opacity: 0;
  justify-content: flex-end;
}

.nav-toggler {
  display: flex;
  position: absolute;
  top: 0;
  right: 30px;
  height: 40px;
  width: 40px;
  padding: 0.6rem;
  align-items: center;
  justify-content: center;
}

/* homburger icon */
.nav-toggler > div {
  /* float: right; */
  position: relative;
  top: 0;
  left: 0;
  background: white;
  height: 2px;
  width: 60%;
  transition: all  0.4s ease;
}

.nav-toggler > div::before,
.nav-toggler > div::after {
  content: '';
  position: absolute;
  top: -10px;
  background: white;
  width: 100%;
  height: 2px;
  transition: all  0.4s ease;
}

.nav-toggler > div::after {
  top: 10px;
}

.check:checked + .nav-toggler > div {
  background: white;
}

.check:checked + .nav-toggler > div::before {
  top: 0;
  background: white;
}

.check:checked + .nav-toggler > div::after {
  top: 0;
  background: white;
}

.menu {
  background-color: #3c3a39;
  width: 0%;
  height: 100vh;
  float: right;
  transition: all 0.6s ease;
}

.check:checked ~ .menu {
  width: 40%;

  /* float: right; */
}

/* list style */
.menu > div > .list-item {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 80px;
  padding-left: 10px;
  visibility: hidden;
}

.menu > div > .list-item > li {
  list-style: none;
  padding-top: 30px;
  color: #fff5e1;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.menu > div > .list-item > li > a {
  color: #fff5e1;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-decoration: none;
}

/* menue visbilty when checked */
.check:checked ~ .menu > div > .list-item {
  transition: visibility 0.4s ease;
  transition-delay: 0.1s;
  visibility: visible;
}

.check:checked ~ .menu > div > .list-item > li > a:hover {
  color: #ff6b00;
}

/* headline section */
.main {
  /* display: none; */
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 80px;
  width: 100%;
  background-color: #1c1a19;
  background-image: url("img/header.png");
  background-repeat: no-repeat;
  background-position: bottom 2px right -20px;
  background-size: 150px;
}

.main > h1 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  padding-top: 80px;
  padding-bottom: 40px;
  color: #ff6b00;
  margin-right: 40px;
}

.main > h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  color: #fff5e1;


  /* max-width:90px */
}

.main > p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  max-width: 80%;
}

/* social media icons */
.social-icon {
  list-style: none;
  display: flex;
  gap: 20px;
}

.social {
  margin-top: 50px;
  margin-bottom: 100px;
}

.headline {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 40px;
  line-height: 52px;
  padding-top: 50px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #1c1a19;
}

hr {
  border: 1px solid #212121;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

.grid-container {
  max-width: 100%;
  display: grid;
  gap: 10px;
  justify-content: center;
  justify-items: center;

  /* height: 100vh; */
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.first-card-grid-item {
  /* height: 90vh; */

  /* width: 50%; */
  justify-items: center;
}

.first-card-flex-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-items: center;
}

.middle {
  display: none;
  margin: 0;
  padding: 0;
}

.grid-item {
  background-image: url("img/cards-Placeholder.png");
  background-repeat: no-repeat;
  backdrop-filter: 0.5px;
  background-size: cover;

  /* height: 250px; */
  width: 90%;
  justify-items: center;
  margin-top: 30px;
}

.flex-item {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

.first-card-flex-item > h1 {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400px;
  font-size: 32px;
  line-height: 30px;
  color: #091e42;
  padding-top: 40px;
  padding-bottom: 50px;
}

.first-card-flex-item > p {
  font-family: 'Inter', sans-serif;
  font-weight: 400px;
  font-size: 27px;
  color: #091e42;
  padding-bottom: 30px;
  font-style: normal;
  width: 355px;
}

.first-card-flex-item > img {
  height: 237px;
}
.li-cards{
  list-style: none;
  display: flex;
  gap: 10px;
  
}
.lang-card1 {
  border: 1px solid #212121;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 3px;
}

.flex-item > h1 {
  color: #fff;
  padding-bottom: 20px;
  font-family: 'Crete Round', sans-serif;
}

.flex-item > p {
  color: #fff;
  font-family: 'Inter', sans-serif;
  padding-bottom: 10px;
}

.card1-btn {
  width: 100px;
  height: 40px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 24px;
  background-color: #ff6b00;
  border: none;
}

.card1-btn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.card1-btn:active {
  background: #e05304;
  color: #f4f1f0;
}

.projects-btn {
  margin-right: -20px;
  margin-left: -20px;
  margin-top: 20px;
  height: 40px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 24px;
  background-color: #ff6b00;
  border: none;
}

.projects-btn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.lang-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 7px;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
}

.about-me {
  display: none;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  background-color: #1c1a19;
  color: #f4f5f7;
  background-image: url("img/about-me-mobile.png");
  background-repeat: no-repeat;
  background-position: right 270px;
  background-size: 90px;
}

.about-me > h1 {
  color: #ff6b00;
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 72px;
}

.about-me > h3 {
  color: white;
  padding-bottom: 5px;
  width: 327px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.introduction {
  color: white;
  padding-bottom: 30px;
  width: 327px;
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.about-me > button {
  color: #f4f5f7;
  background-color: #ff6b00;
  border: none;
  align-items: left;
  text-align: center;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 50px;
}

.about-me > button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.line {
  margin-top: 50px;
  border: 1px solid #fff;
}

.header-flex {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  align-items: center;
  gap: 5px;
  color: #fff;
}

.about-me-list {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  list-style: none;
  margin-bottom: 40px;
}

#contact-form {
  padding: 120px 24px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(219, 216, 215);
}

#contact-from * {
  box-sizing: border;
}

#contact-form h2 {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  color: rgb(23, 43,77);
  line-height: 44px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 58px;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

#cf-btn {
  max-width: fit-content;
  background-color: rgb(255, 107, 0, 1);
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 15px;
  border: none;
  margin: 0 auto;
  border: 1px solid #f55800;
}
#cf-btn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

input {
  font-family: 'Inter', sans-serif;
  padding: 0 16px;
  height: 48px;
  border: 0;
  border-bottom: 1px solid rgb(219, 216, 215);
}

textarea {
  font-family: 'Inter', sans-serif;
  padding: 15px 16px;
  border: none;
  background-color: rgb(251, 248,247);
  min-height: 6em;
}

::placeholder {
  font-size: 15px
}

footer {
  display: flex;
  justify-content: center;
  height: fit-content;
  height: 72px;
}

.social-icon-f {
  list-style: none;
  display: flex;
  height: 72px;

}

.social-icon-f li {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}


